[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipdb = "*"
awscli = "*"
ipython = "*"


[packages]

social-auth-app-django = "*"
django = "*"
"psycopg2" = "*"
zappa = "*"
python-dotenv = "*"
django-filter = "*"


[requires]

python_version = "3.6"
