{% extends "voters/base.html" %}

{% block content %}

    <h1>{{ object.name }}</h1>

    <table class="table table-sm">
        <tr>
            <th>NCID</th>
            <td>{{ object.ncid }}</td>
        </tr>
        <tr>
            <th>First name</th>
            <td>{{ object.first_name }}</td>
        </tr>
        <tr>
            <th>Middle name</th>
            <td>{{ object.middle_name }}</td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>{{ object.last_name }}</td>
        </tr>
    </table>

{% endblock %}